:root { --color1: #2E2F42;
--color2: #434455;
--color3:#4D5AE5;}

body {font-family: 'Roboto', sans-serif;
    text-decoration: none;
list-style: none;}

/* *****  header****** */
.header-navi {
}
.header-logo {font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: #4D5AE5;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.half-logo {color: var(--color1);}
.header {
}
.header-item {list-style-type: none; margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0;   
}


.header-link 
{font-weight: 500;
    text-decoration: none;
    color: var(--color1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em 
    
}
.header-link :active {color: #404BBF;}

.header-addr {
    list-style: none;
}
.header-addr-cont {
}
.header-cont {list-style-type: none; margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0;   
}
.header-link-cont 
{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color2);
    text-decoration: none;
    list-style: none;
}
.header-link-cont :active {color: #404BBF;}
:is(:hover, :focus){color: #404BBF;}

/* ****main*** */
.main-but
:hover { background: #404BBF; color: #FFFFFF; }
.main-but {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    }
.main-skills
{    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color1);
}
.main-actions { font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color2);
    }
    .main-demonstr {  font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--color1)}

    .main-staff {        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--color1);}

    .main-staff-name {   font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--color1);
        }

    .main-staff-proff {     font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--color2);
        }

        /* *****footer***** */

    .footer {background: var(--color1);}

    .footer-logo {font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        }

    .footer-logo-half {font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;}

    .footer-text {font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #E7E9FC;
        }

    /* ********Portfolio*********** */


    .pf-main-but {list-style-type: none; margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 0; }

    .pf-main-but :is(:hover, :focus){color: #FFFFFF; background: #404BBF;}
    .pf-main-but
    {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color:var(--color3);
    }
    .pf-main-but {cursor: pointer;}
    .pf-main-funct {font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
         }
    .pf-main-wherefunct {font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }